<app-navbar title="Give a suggestion"></app-navbar>

<ion-content>
  <form [formGroup]="suggestionsForm" (ngSubmit)="submitForm()" novalidate>
    <ion-input [(ngModel)]="inputName" formControlName="name" placeholder="Name" required="true"></ion-input>
    <ion-input [(ngModel)]="inputEmail" formControlName="email" placeholder="Email address" required="true"></ion-input>
    <ion-textarea rows="6" style="height: 150px"  [(ngModel)]="inputSuggestionText" formControlName="suggestionText" placeholder="Type your suggestion here" required="true"></ion-textarea>
    <ion-button type="submit" color="success">Send Suggestion</ion-button>
  </form>
</ion-content>
