<app-navbar title="Search Pokemon"></app-navbar>

<ion-content>
<ion-searchbar [value]="searchText" debounce="500" (ionChange)="searchChangeHandler($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let pokemon of pokemonList">
      <ion-avatar slot="start">
        <img [src]="pokemon.sprite" alt="sprite">
      </ion-avatar>
      <ion-label>
        <h2>{{pokemon.name | titlecase}}</h2>
        <p>{{pokemon.type | titlecase}}</p>
      </ion-label>
      <ion-button color="success" (click)="addPokemonToParty(pokemon.id)">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>


  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles"
                                 loadingText="Loading more Pokemon...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
